
<form ng-submit="ctrl.submit()" name="testForm">
  <div class="form-group">
    <label for="exampleInputEmail1" translate="email_address"></label>
    <input ng-model="data.email" name="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>

    <div ng-if="testForm.$dirty" ng-messages="testForm.email.$error">
      <div ng-message="required">
        You forgot to enter your email address...
      </div>
      <div ng-message="email">
        You did not enter your email address correctly...
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1" translate="password"></label>
    <span translate="your_password_contains"></span>
    <strong>{{data.password.length}}</strong>
    <span translate="characters_counter" translate-values="{charactersCount:data.password.length}"></span>
    <input ng-model="data.password" type="password" class="form-control" equals="{{data.passwordRepeat}}" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1" translate="password_repeat"></label>
    <input ng-model="data.passwordRepeat" type="password" class="form-control" equals="{{data.password}}" id="exampleInputPassword1" placeholder="Password">
  </div>

  <div class="form-group">
    <label for="exampleInputPassword1">Some number</label>
    <input ng-model="data.number" type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <input ng-model="data.number" number-parser number-formater name="num" type="text" class="form-control" id="exampleInputPassword1" placeholder="Password">
    <pre>{{testForm.num | json}}</pre>
  </div>

  <button type="submit" class="btn btn-default" translate="submit"></button>

  <div class="lang-switcher pull-right">
    <a ng-click="ctrl.setLang('en')" ng-class="{active:data.lang === 'en'}"><img src="images/langflag-en.png"></a>
    <a ng-click="ctrl.setLang('sk')" ng-class="{active:data.lang === 'sk'}"><img src="images/langflag-sk.png"></a>
  </div>
</form>
