<h3>Feed</h3>


<ul>
  <li ng-repeat="post in data.posts" class="well" style="list-style:none">
    <h4>{{post.author.displayname}}</h4>
    <p>{{post.text}}</p>
  </li>
</ul>

<button ng-click="ctrl.loadMore()"
        class="btn btn-block"
        style="margin-bottom:2em"
        ng-disabled="!meta.posts.hasMore"
        ng-class="{
          'btn-primary':meta.posts.hasMore,
          'btn-link':!meta.posts.hasMore,
        }">{{(meta.posts.hasMore) ? 'load more post' : 'all posts loaded'}}</button>
